services:
  - type: web
    name: diva-haus
    env: node
    plan: starter
    branch: main
    region: oregon
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        value: "${MONGO_URI}"
      - key: JWT_SECRET
        value: "${JWT_SECRET}"
      - key: CLOUDINARY_CLOUD_NAME
        value: "${CLOUDINARY_CLOUD_NAME}"
      - key: CLOUDINARY_API_KEY
        value: "${CLOUDINARY_API_KEY}"
      - key: CLOUDINARY_API_SECRET
        value: "${CLOUDINARY_API_SECRET}"
      - key: CLIENT_ORIGIN
        value: "https://diva-haus.onrender.com"
      - key: NODE_ENV
        value: "production"
      - key: STORAGE_PROVIDER
        value: "cloudinary"
